<div class="card mb-3">
    <h3 class="card-title">{{post.title}}</h3>
    {% include "blog/includes/post_img.html" %}
    <div class="card-body">
        <p class="card-text">{{post.body|truncatewords:150 }}</p>
        <p class="card-text"><small class="text-muted">{{post.time_update}}</small></p>
        <div>
            <a class="btn btn-primary" href="{% url 'post_detail_url' pk=post.pk %}">Читать далее...</a>
        </div>
        {% include "blog/includes/tags.html" %}
    </div>
</div>

